@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4" style="font-family: 'Amaranth', sans-serif; font-weight: bold;">¡Bienvenido!</h1>
    <p style="font-family: 'Montserrat'">Seleccione una opción:</p>
    <div style="margin-bottom: 10px;">
        <a href="@Url.Action("items_menuNew", "items_menu")" class="btn btn-danger btn-lg btn-block" style="font-family: 'Montserrat', sans-serif; width: 240px;">Crear ítems</a>
    </div>
    <div style="margin-bottom: 10px;">
        <a href="@Url.Action("Index", "combos")" class="btn btn-danger btn-lg btn-block" 
            style="font-family: 'Montserrat', sans-serif; width: 240px;">
            Crear combos
        </a>
    </div>
    <div style="margin-bottom: 10px;">
        <a href="@Url.Action("CrearPromociones", "NombreControlador")" class="btn btn-danger btn-lg btn-block" style="font-family: 'Montserrat', sans-serif; width: 240px;">Crear promociones</a>
    </div>
    <div style="margin-bottom: 10px;">
        <a href="@Url.Action("AltaEmpleados", "NombreControlador")" class="btn btn-danger btn-lg btn-block" style="font-family: 'Montserrat', sans-serif; width: 240px;">Alta de empleados</a>
    </div>
    <div>
        <a href="@Url.Action("Index", "mesas")" class="btn btn-danger btn-lg btn-block" style="font-family: 'Montserrat', sans-serif; width: 240px;">Crear mesas</a>
    </div>
</div>




