@using Modulo1_Administracion.Data

@{
    ViewData["Title"] = "Detalles";
    var infoEmp = ViewData["infoEmp"] as obj_empleados_cargos;
}

<style>
    body {
        font-family: 'Montserrat', sans-serif; /* Aplica Montserrat a todo el cuerpo */
    }

</style>
<hr class="hrHorizontal">

<div class="d-flex ms-5 mt-3">
    <div class="icono">
        <img src="" alt="">
    </div>

    <div class="tituloTexto align-middle ms-3">
        <div class="imagen">
            <a class="imagen"><img src="https://cdn-icons-png.flaticon.com/128/6823/6823086.png" height="70px" width="70px" style="float: left; margin-right: 10px;" /></a>
        </div>
        <div>
            <b><h3 style="font-family: 'Amaranth'">Detalles</h3></b>
            <p style="width: 400px;">Administración de empleados</p>
        </div>
    </div>
</div>

<hr class="hrHorizontal">


<hr class="position-absolute " style="height: 55%; top: 25%; left: 50%; border-left: solid #000;">

<div class="container ms-5 mt-4 align-middle" style="width: 45%;">
    <form asp-action="Edit">
        <input type="hidden" name="id_empleado" id="id_empleado" value="@infoEmp.id_empleado" />
        <div class="row align-items-start mb-2">
            <div class="col-3">
                <h5>Nombre:</h5>
            </div>
            <div class="col">
                <input type="text" id="nombre" name="nombre" placeholder="..." class="size-text" value="@infoEmp.nombre">
            </div>
        </div>
        <div class="row align-items-start mb-2">
            <div class="col-3">
                <h5>Apellido:</h5>
            </div>
            <div class="col">
                <input type="text" id="apellido" name="apellido" placeholder="..." class="size-text" value="@infoEmp.apellido">
            </div>
        </div>

        <div class="row align-items-start mb-2">
            <div class="col-3">
                <h5>Dirección:</h5>
            </div>
            <div class="col">
                <input type="text" id="direccion" name="direccion" placeholder="..." class="size-text" value="@infoEmp.direccion">
            </div>
        </div>

        <div class="row align-items-start mb-2">
            <div class="col-3">
                <h5>Teléfono:</h5>
            </div>
            <div class="col">
                <input type="number" id="telefono" name="telefono" placeholder="..." class="size-text" value="@infoEmp.telefono">
            </div>
        </div>

        <div class="row align-items-start mb-2">
            <div class="col-3">
                <h5>Correo:</h5>
            </div>
            <div class="col">
                <input type="text" id="correo" name="correo" placeholder="..." class="size-text" value="@infoEmp.correo">
            </div>
        </div>


        <div class="row align-items-start mb-2">
            <div class="col-3">
                <h5>Cargo:</h5>
            </div>
            <div class="col">
                <select class="size-combo" id="id_cargo" name="id_cargo" aria-label="Default select example">
                    <option value="@infoEmp.id_cargo" selected style="color: #D0D3D9; font-size: 1.3vw;">@infoEmp.cargo</option>
                    @foreach (var item in (IEnumerable<dynamic>)ViewData["listadoDeCargos"])
                    {
                        <option value="@item.id_cargo">@item.cargo</option>
                    }
                </select>
            </div>
        </div>

        <div class="row align-items-start mb-2">
            <div class="col-3">
                <h5>Estado:</h5>
            </div>
            <div class="col">
                <select class="size-combo" id="id_estado" name="id_estado" aria-label="Default select example">
                    <option value="@infoEmp.id_estado" selected style="color: #D0D3D9; font-size: 1.3vw;">@infoEmp.estado</option>
                    @foreach (var item in (IEnumerable<dynamic>)ViewData["listadoDeEstados"])
                    {
                        <option value="@item.id_estado">@item.nombre</option>
                    }
                </select>
            </div>
        </div>


        <div class="row mt-3 mb-2">
            <div class="col-3">
            </div>
            <div class="col d-flex justify-content-end">
                <input type="submit" value="Editar combo" class="botones">
            </div>
        </div>
    </form>
</div>

@* <div class="mt-3" style="margin-left: 140px; width: 83%;">
    <div class="d-flex">
        <div>
            <h4>Empleado</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.nombre)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.apellido)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.apellido)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.direccion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.direccion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.telefono)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.telefono)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.correo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.correo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.id_cargo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.id_cargo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.id_estado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.id_estado)
                </dd>

                <div>
                    @if (Model?.id_estado == 6)
                    {
                        <form id="form-@Model?.id_empleado" method="post" asp-action="EditarEstado" asp-route-id="@Model?.id_empleado">
                            <input type="hidden" name="id_estado" value="@Model?.id_estado" />
                            <input type="submit" value="Dar de Alta" class="botones">
                        </form>
                    }
                    else if (Model?.id_estado == 5)
                    {
                        <form id="form-@Model?.id_empleado" method="post" asp-action="EditarEstado" asp-route-id="@Model?.id_empleado">
                            <input type="hidden" name="id_estado" value="@Model?.id_estado" />
                            <input type="submit" value="Despedir" class="botones">
                        </form>
                    }
                </div>


            </dl>
        </div>



        <div>
            <a asp-action="Edit" asp-route-id="@Model?.id_empleado">Editar</a> |
            <a asp-action="empleadosIndex">Volver</a>
        </div>



    </div>
</div> *@