@model Modulo1_Administracion.Models.items_menu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>items_menu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_categoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_item_menu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
