@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        font-family: 'Montserrat', sans-serif; /* Aplica Montserrat a todo el cuerpo */
    }

</style>
<hr class="hrHorizontal">

<div class="d-flex ms-5 mt-3">
    <div class="icono">
        <img src="" alt="">
    </div>

    <div class="tituloTexto align-middle ms-3">
        <div class="imagen">
            <a class="imagen"><img src="https://cdn-icons-png.flaticon.com/512/1175/1175770.png" height="70px" width="70px" style="float: left; margin-right: 10px;" /></a>
        </div>
        <div>
            <b><h3 style="font-family: 'Amaranth'">Items menú</h3></b>
            <p style="width: 400px;">Administración de los ítems del menú</p>
        </div>
    </div>
</div>

<hr class="hrHorizontal">

<div class="mt-3" style="margin-left: 140px; width: 83%;">
    <div class="d-flex">
        <form asp-action="CrearItem" method="post" enctype="multipart/form-data">
            <div class="container mt-4 w-100 align-middle">
                <h5 style="font-family: 'Amaranth';">Agregue nuevos ítems al menú:</h5>
                <div class="row align-items-start mb-2">
                    <div class="col-3">
                        @Html.Label("lblNombre", "Nombre:")
                    </div>
                    <div class="col">
                        @Html.TextBox("nombre", "", new { @class = "form-control" })
                    </div>
                </div>

                <div class="row align-items-start mt-3 ">
                    <div class="col-3">
                        @Html.Label("lblDescripcion", "Descripción:")
                    </div>
                    <div class="col">
                        <div class="d-flex">
                            @Html.TextArea("descripcion", "", new { @class = "form-control", @placeHolder = "Ingrese la descripción" })
                        </div>
                    </div>
                </div>

                <div class="row align-items-start mt-3 ">
                    <div class="col-3">
                        @Html.Label("lblPrecio", "Precio:")
                    </div>
                    <div class="col d-flex ">
                        @Html.TextBox("precio", "", new { @class = "form-control", @placeHolder = "$" })
                        @Html.Label("lblEstado", "Estado:")
                        @Html.DropDownList("id_estado", ViewData["listadoDeEstados"] as SelectList, "Seleccione estado", new { @class = "form-control" })

                    </div>
                </div>

                <div class="row align-items-start mt-3 mb-2">
                    <div class="col-3">
                        @Html.Label("lblImagen", "Imagen:")
                    </div>
                    <div class="col">
                        <input type="file" class="form-control" id="imagen" name="imagen" />

                    </div>
                </div>

                <div class="row align-items-start mt-3 mb-2">
                    <div class="col-3">
                        @Html.Label("lblCategoria", "Categoría:")
                    </div>
                    <div class="col">
                        @Html.DropDownList("id_categoria", ViewData["listadoDeCategorias"] as SelectList, "Seleccione una categoría", new { @class = "form-control" })
                    </div>
                </div>


                <div class="row mt-3 mb-2">
                    <div class="col-3">
                    </div>
                    <div class="col d-flex justify-content-end">
                        <input type="submit" value="Crear ítem" class="botones">
                    </div>
                </div>
            </div>
        </form>

        @* FIN DE LA SECCION CREAR COMBO (FORMULARIO) *@

        <hr class="position-absolute " style="height: 50%; top: 26%; left: 50.5%; border-left: solid #000;">

        <div class="ms-5 mt-4 w-50">
            <h5 style="font-family: 'Amaranth';">Listado actual de ítems:</h5>
            <table class="w-100" style="font-size: 1.3vw;">
                <thead>
                    <tr style="color: white; background-color: #a60c18;">
                        <th width="8%" scope="col" class="text-center ">Id</th>
                        <th width="45%" scope="col">Nombre</th>
                        <th width="30%" scope="col">Estado</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (IEnumerable<dynamic>)ViewData["listadoDeItems"])
                    {
                        <tr style="background-color: white;">
                            <td scope="row" class="text-center ">@item.id</td>
                            <td>@item.nombre</td>
                            <td>@item.estado</td>
                            <td><a href="#">Detalles</a></td>
                        </tr>
                        <tr style="height: 3px;">
                            <!-- Espacio -->
                        </tr>
                    }
                    
                </tbody>
            </table>

            <nav style="margin-top: 2px;">
                <ul class="navPaginacion bg-light w-100">
                    <li class="page-item1"><a href="#">&lt; Anterior</a></li>
                    <div class="d-flex ">
                    <li class="page-item"><a href="#">1</a></li>
                    <li class="page-item"><a href="#">2</a></li>
                    <li class="page-item"><a href="#">3</a></li>
                    <li class="page-item"><a href="#">4</a></li>
                    <li class="page-item" style="border-right: solid grey; border-width: 1px;"><a href="#">5</a></li>
        </div>
        <li class="page-item1"><a href="#">Siguiente &gt;</a></li>
        </ul>
        </nav>
    </div>
</div>

</div>

